* {
    color: #1A1B25;
    transition: left 250ms ease-in-out
}

.main_content {
    transition: all 300ms ease-in-out;
    width: 70%;
    position: absolute;
    left: 15vw;
}

.sidebar {
    position: fixed;
    height: 100%;
    margin-top: .75vw;
    width: 50vw;
    left: -30vw;
    transition: left 250ms ease-in-out
}

.sidebar_link_container {
    width: 100%;
    padding-left: 1.75vw;
    padding-top: 7px;
    padding-bottom: 7px;
}

.sidebar_link {
    text-decoration: none;
    font-size: calc(1.7 * (.75vw + .75vh));
    color: black;
    transition: all 150ms ease-out;
}

.sidebar_link:hover {
    color: #8f8f8f;
}

.close_button_container {
    display: inline;
    position: relative;
    border: none;
    background: none;
    
    z-index: 999;
    transition: 
        background-color 150ms ease-out,
        box-shadow 150ms ease-out,
        transform 225ms ease-out,
        opacity 60ms linear;
}

.open_button_container {
    z-index: 998;
    position: fixed;
    top: 1.5vw;
    left: 1.5vw;
    border: none;
    background-color: white;
    transition: all 100ms linear;
}

.open_button_container:hover {
    transform: scale(1.1);
}

.close_button, .open_button {
    position: relative;
    font-size: 2.5vw;
    left: .5px;
}

.close_button {
    top: 3px;
    left: 25px;
    transition: transform 225ms ease-out;
    background: none;
}

.close_button:hover {
    transform: scale(1.1);
}

.about_me_header_padding {
    margin-bottom: 40px;
}

.section_seperator {
    margin-bottom: 50px;
}

.header {
    margin-left: 10px;
    font-size: calc(2.5 * (.75vw + .75vh))
}

.subheader {
    margin-left: 5px;
    margin-top: 5px;
    padding-left: 7px;
    font-size: calc(1.75 * (0.75vw + 0.75vh));
    border-left: solid #EE4266 .35vw;
    margin-bottom: 10px;
}

.float_left {
    float: left;
    margin-right: 1.25vw;
    margin-bottom: 0px;
}

.float_right {
    float: right;
    margin-left: 1.25vw;
    margin-bottom: 0px;
}

.to_do_list_display_container {
    width: 25vw;
}

.caption {
    font-size: 8px;
    justify-content: center;
}

.project_description {
    font-size: calc(1.65 * (.5vw + .5vh));
}

.github_redirect, .redirect {
    text-decoration: none;
}

.project_container {
    border-bottom: solid 1.3px #EE4266;
    padding-bottom: 20px;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.my_project_header_description {
    margin-left: 20px;
    margin-bottom: 30px;
}

#last_listed_project {
    margin-bottom: 0px;
    border: none;
}

.contact_information {
    margin-left: 20px;
    font-size: calc(1.65 * (.5vw + .5vh));
}

.contact_me {
    margin-bottom: 80px;
}

footer {
    height: 20vh;
}

.notes-app-showcase-container {
    width: 40vw;
}

.spotacent-app-showcase-container {
    width: 35vw;
}

.image-showcase {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.image-border-left {
    box-shadow: .4vw .3vw #EE4266;
}

.image-border-right {
    box-shadow: -.4vw .3vw #EE4266;
}

.caption-text {
    padding-top: 6px;
    font-size: 1.1vw;
    font-style: italic;
    color: #747474;
    text-align: center;
}