* {
    color: #1A1B25;
}

.main_content {
    transition: all 300ms ease-in-out;
}

.sidebar {
    z-index: 999;
    position: fixed;
    background-color: #e69cab;
    border-right: solid 45px lightpink;
    height: 100%;
    top: 0px;
    width: 375px;
    left: -410px;
    transition: 
        left 200ms ease-in-out,
        opacity 200ms ease-out;
}

.sidebar_link_container {
    width: 100%;
    padding-left: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.sidebar_link {
    text-decoration: none;
    font-size: 32px;
    color: black;
    transition: all 150ms ease-out;
}

.sidebar_link:hover {
    color: white;
}

.close_button_container {
    top: -160px;
    left: 293px;

    position: relative;
    width: 70px;
    height: 70px;
    border: none;
    
    z-index: 999;
    opacity: 0;
    transform: scale(0);
    background-color: #eb7a92;
    border-radius: 100%;
    transition: 
        background-color 150ms ease-out,
        box-shadow 150ms ease-out,
        transform 225ms ease-out,
        opacity 60ms linear;
}

.close_button_container:hover {
    background-color: #EE4266;
    box-shadow: #1A1B25 0px 1px;
}

.open_button_container {
    z-index: 998;
    position: fixed;
    top: 20px;
    left: 20px;
    border: none;
    background-color: white;
    transition: all 100ms linear;
}

.open_button_container:hover {
    transform: scale(1.1);
}

.close_button, .open_button {
    position: relative;
    font-size: 30px;
    left: .5px;
}

.about_me_header_padding {
    margin-bottom: 40px;
}

.section_container {
    width: 70%;
    margin: auto;
}

.section_seperator {
    margin-bottom: 50px;
}

.header {
    margin-left: 10px;
    font-size: calc(2.5 * (.75vw + .75vh))
}

.subheader {
    margin-left: 5px;
    margin-top: 5px;
    padding-left: 7px;
    font-size: calc(1.75 * (0.75vw + 0.75vh));
    border-left: solid #EE4266 .35vw;
    margin-bottom: 10px;
}

.float_left {
    float: left;
    margin-right: 20px;
    margin-bottom: 5px;
}

.float_right {
    float: right;
    margin-left: 20px;
    margin-bottom: 5px;
}

.to_do_list_display_container {
    width: 25vw;
    box-shadow: .4vw .3vw #EE4266;
    margin-right: 30px;
}

.to_do_list_showcase {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.caption {
    font-size: 8px;
    justify-content: center;
}

.project_description {
    font-size: calc(1.65 * (.5vw + .5vh));
}

.github_redirect, .redirect {
    text-decoration: none;
}

.project_container {
    border-bottom: solid 1.3px #EE4266;
    padding-bottom: 20px;
    margin-bottom: 30px;
    margin-left: 20px
}

.my_project_header_description {
    margin-left: 20px;
    margin-bottom: 30px;
}

#last_listed_project {
    margin-bottom: 0px;
    border: none;
}

.contact_information {
    margin-left: 20px;
    font-size: calc(1.65 * (.5vw + .5vh));
}